
@media only screen and (max-width: 500px) {
    body {
  background-color: white;  
    }
  }
  #nav-bar{
    margin-left: 30px;
    cursor: pointer;
    position: sticky;
    text-align: center;
  }
  ul{
    margin: 70px;
    list-style: none;
    display: flex;
   position: sticky;
    flex-direction: row;
    margin-top: 10px;
  }
  li{
    margin-right: 50px;
  }
  .flex{
    display: flex;
    }
    body{
      background-color: #D9F9F2;
      font-family: 'lato', sans;
    }
    *{
      margin:  0px;
      padding: 0px;
      box-sizing: border-box;
    }
    ul,li,a{
      color: black;
      font-size: 30px;
    }
    #header{
      margin-bottom: 0;
  
    }
    .btn{
      padding: 10px 25px;
      background-color: blue;
      font-weight: bold;
      font-size: 20px;
      border-radius: 20px;
      margin-top: 10px;
    }
    .btn1{
      padding: 10px 25px;
      font-weight: bold;
      font-size: 20px;
    }
    .btn-2{
      padding: 10px 30px;
      margin-left: 20px;
      background-color: lightblue;
      font-size: 20px;
    }
    .hash{
      margin-top: 20px;
    font-weight: bold;
    }
    .edit{
      color: orange;
    }
